@import "./mixin";
html {
  width: 100vw;
}
.desktopLine {
  width: 100vw;
  margin-top: 5%;
  fill: var(--clr-dark);
  overflow: hidden;
  path {
    filter:drop-shadow(-5px 6px 8px #8b00008e);
  }
}
.main-desktop {
  padding-top: 5%;
  .titleDesktopHeader {
    width: 100%;
    text-align: center;
    font-family: var(--font-open-sans);
    color: var(--clr-red);
    animation: opacities 4s ease-in-out infinite;
  }
  .paraDesktopHeader {
    @extend %styleCommon-p;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  .paraDesktopHeader.animation {
    opacity: 1;
  }
  .gallery {
    width: 85%;
    margin: 10% auto;
    height: 600px;
    display: flex;
    overflow: hidden;
    .items {
      flex: 1;
      transition: all 2s ease-in-out;
      cursor: pointer;
      filter: grayscale(100%);
      margin: 0% 1%;
      border: 2px solid var(--clr-red);
      border-radius: 10px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 2s ease-in-out;
        border-radius: 10px;
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        align-content: flex-end;
        padding: 0% 0% 12% 5%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
        transition: all 6s ease-in-out;
        border-radius: 10px;
        h4 {
          font-family: var(--font-open-sans);
          color: var(--clr-gray);
          opacity: 0.7;
          transition: all 2s ease-in-out;
        }
        p {
          font-size: 0rem;
          font-family: var(--font-open-sans);
          color: var(--clr-gray);
          opacity: 0;
          transition: all 2s ease-in-out;
        }
      }
    }
    .items:hover {
      flex: 8;
      filter: grayscale(0%);
      .overlay {
        h4 {
          font-size: 2rem;
          color: var(--clr-red);
        }
        p {
          opacity: 1;
          font-size: 1rem;
        }
      }
    }
    .items.active {
      flex: 8;
      filter: grayscale(0%);
      .overlay {
        opacity: 1;
        h4 {
          font-size: 2rem;
          color: var(--clr-red);
        }
        p {
          opacity: 1;
        }
      }
    }
    .items.dimmed {
      .overlay {
        h4 {
          opacity: 0;
        }
      }
    }
  }
  .gallery:hover {
    flex: 0.7;
  }
  .capGallery {
    @extend %styleCommon-p;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  .capGallery.animation {
    opacity: 0.8;
  }
  .clickMore {
    @include styleBtnMore;
  }
  hr {
    filter: drop-shadow(0px 2px 3px var(--clr-red-light));
    opacity: 1;
  }
  .classes {
    margin-top: 7%;
    padding-bottom: 5%;
    //border-bottom: 1px dashed #27272731;
  }
  .itemPhotoClasses {
    width: 90%;
    img {
      width: 100%;
    }
  }
  .itemTextClasses {
    background: radial-gradient(circle, #b2222280, var(--clr-dark) 30%);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0% 9%;
    border-radius: 10px;
    h2 {
      color: var(--clr-red);
      transform: scale(0.6);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    p {
      color: var(--clr-gray);
      transform: scale(0.6);
      opacity: 0;
      transition: all 1.5s ease-in-out;
    }
    h2.animation,
    p.animation {
      transform: scale(1);
      opacity: 1;
    }
  }
  .color-tape-desk {
    background: linear-gradient(
      to left,
      #8b000065,
      var(--clr-dark),
      var(--clr-dark),
      var(--clr-dark),
      #8b000065
    );
    padding: 1%;
    margin: 15% 0% 5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.7rem;
      color: var(--clr-dark);
      font-family: var(--font-bbh);
      transition: all 1s ease-in-out;
    }
    p.animation {
      filter: drop-shadow(0px 0px 3px var(--clr-red-light));
    }
  }
  .coaches-desk {
    background: linear-gradient(#12121267, #12121267),
      url("../assets/pic-background.png") center/cover;
    width: 100%;
    padding: 20% 0%;
    .heading {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 3rem;
      color: var(--clr-red);
      font-family: var(--font-open-sans);
      animation: darkLight 5s ease-in-out infinite;
    }
    .texting {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 1.4rem;
      color: var(--clr-gray);
      font-family: var(--font-open-sans);
      opacity: 0;
      margin-top: 2%;
      transition: all 1s ease-in-out;
    }
    .texting.animation {
      opacity: 0.5;
    }
  }
  .coach {
    display: block;
    width: 20em;
    height: 20em;
    border-radius: 10px;
    margin: 3% 0% 8% 0%;
  }
  .onePerson {
    background: url("../assets/coach1.jfif") center/cover;
    position: relative;
    margin-left: 68%;
  }
  .onePerson::before {
    content: "";
    position: absolute;
    width: 6%;
    height: 6%;
    right: 3%;
    top: 3%;
    background-color: transparent;
    border: 3px solid var(--clr-red);
    border-radius: 9999px;
  }
  .onePerson::after {
    content: "Coach number 1 : With several years of sports experience and multiple  competition champion , CO Jack will be with you .";
    @extend %style-pseudo;
    left: -210%;
    display: none;
  }
  .onePerson.animation::after {
    animation: animation1 2s ease-in-out forwards;
    display: block;
  }
  .twoPerson {
    background: url("../assets/coach2.jfif") center/cover;
    position: relative;
    margin-left: 3%;
  }
  .twoPerson::before {
    content: "";
    position: absolute;
    width: 6%;
    height: 6%;
    left: 3%;
    top: 3%;
    background-color: transparent;
    border: 3px solid var(--clr-red);
    border-radius: 9999px;
  }
  .twoPerson::after {
    content: "Coach number 2 : With several years of sports experience and multiple  competition champion , CO Sam will be with you .";
    @extend %style-pseudo;
    right: -208%;
    display: none;
  }
  .twoPerson.animation::after {
    animation: animation2 2s ease-in-out forwards;
    display: block;
  }
  .card-content {
    width: 70%;
    height: 100%;
    margin: auto;
    box-shadow: inset 0px 0px 14px var(--clr-red-light);
    background-color: #8b00000c;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--clr-gray);
    font-size: 1.1rem;
    opacity: 0.6;
    gap: 4px;
    font-family: var(--font-open-sans);
    transform: scale(0.6);
    transition: all 1s ease-in-out;
    text-align: center;
  }
  .card-content:hover {
    background-color: #8b00002a;
    box-shadow: inset 0px 0px 15px var(--clr-dark);
    opacity: 1;
  }
  .card-content.animation {
    transform: scale(1);
  }
  .footer-desk {
    background: linear-gradient(#12121298, #12121298),
      url("../assets/footer-photo.png") center/cover;
    margin-top: 12%;
    height: 40vh;
    background-repeat: no-repeat;
    .icons:hover {
      .instagram,
      .bi-telegram,
      .bi-whatsapp {
        animation: rotates 2s ease-in-out infinite;
      }
      p {
        opacity: 1;
      }
    }
    span {
      color: var(--clr-gray);
      font-size: 1.1rem;
      font-family: var(--font-open-sans);
      span{
        font-size: 0.9rem;
        opacity: 0.8;
      }
    }
    p {
      opacity: 0.7;
      font-family: var(--font-open-sans);
      margin: 0% auto;
      transition: all 0.5s ease-in-out;
    }
    .instagram {
      width: 1.3rem;
      height: 1.3rem;
      display: block;
      margin: 2% auto;
    }
    .Instagram {
      color: #c13584;
    }
    svg {
      font-size: 1.3rem;
    }
    .bi-telegram,
    .Telegram {
      color: #0088cc;
    }
    .bi-whatsapp,
    .Whatsapp {
      color: #25d366;
    }
    .instagram.animation,
    .bi-telegram.animation,
    .bi-whatsapp.animation {
      animation: rotates 2s ease-in-out forwards;
    }
  }
}

%styleCommon-p {
  width: 100%;
  text-align: center;
  padding: 1% 10%;
  font-size: 1rem;
  color: var(--clr-gray);
}
%style-pseudo {
  position: absolute;
  top: 10%;
  width: 200%;
  height: 80%;
  box-shadow: inset 0px 0px 15px #8b000093;
  border-radius: 10px;
  padding: 0% 10%;
  font-size: 1.2rem;
  justify-content: center;
  align-content: center;
  font-family: var(--font-open-sans);
  color: var(--clr-gray);
  filter: drop-shadow(0px 0px 8px var(--clr-red));
}
