@import "./mixin";
body {
  background-color: var(--clr-dark) !important;
  position: relative;
  overflow-x: hidden;
  .navbar {
    width: 6rem;
    height: 2.5rem;
    background-color: var(--clr-red);
    border: 1px solid var(--clr-dark);
    border-radius: 9999px;
    display: flex;
    justify-content: start;
    align-content: center;
    font-size: 1.7rem;
    padding-left: 60px;
    position: fixed;
    top: 11%;
    left: -50px;
    transition: all 2s ease-in-out;
    z-index: 100;
  }
  .list-nav {
    width: 5rem;
    height: 33%;
    background-color: #8b000062;
    box-shadow: inset 0px 0px 25px var(--clr-red-light);
    position: fixed;
    top: 10%;
    left: -150px;
    transition: all 1.5s ease-in-out;
    z-index: 1000;
    backdrop-filter: blur(7px);
    border-radius: 9999px;
    ul {
      width: 100%;
      height: 90%;
      list-style-type: none;
      text-align: center;
      padding: 0%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      li {
        font-size: 1rem;
        font-weight: bold;
        font-family: var(--font-open-sans);
        color: var(--clr-dark);
        a {
          text-decoration: none;
          transition: all 1s ease-in-out;
          position: relative;
          cursor: pointer;
          filter: drop-shadow(3px 3px 4px var(--clr-dark));
        }
        a::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -4%;
          left: 0%;
          background-color: var(--clr-dark);
          transform: scale(0);
          transition: all 1s ease-in-out;
        }
      }
      li:hover {
        color: var(--clr-gray);
        a::after {
          transform: scale(1);
          background-color: var(--clr-gray);
        }
      }
    }
  }
}
.header {
  height: 100vh;
  #logo {
    color: var(--clr-red);
    margin-top: 4%;
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--font-bbh);
    filter: drop-shadow(0px 0px 13px var(--clr-red-light));
  }
  .headerPara {
    @include rol;
    margin-top: 25%;
    span {
      color: var(--clr-red);
      position: relative;
      font-size: 2.3rem;
      overflow-y: hidden;
      height: 3.5rem;
      vertical-align: bottom;
      span {
        display: block;
        animation: animeWord 6s infinite ease-in-out;
      }
    }
    p {
      color: var(--clr-gray);
      width: 50%;
      margin: 1% auto;
      font-size: 1rem;
      filter: drop-shadow();
      opacity: 0.5;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 9% 0%;
      svg {
        display: block;
        font-size: 1.6rem;
        color: var(--clr-red);
        animation: appearIcon 1.6s ease-in-out forwards infinite;
      }
      svg:nth-child(1) {
        animation-delay: 0.1s;
      }
      svg:nth-child(2) {
        animation-delay: 0.2s;
      }
      svg:nth-child(3) {
        animation-delay: 0.3s;
      }
    }
  }
  #box_hed {
    position: relative;
    #visual {
      margin-top: 12%;
      margin-left: 0% !important;
      width: 100% ;
      height: 60vh;
      display: block;
      path {
        fill: var(--clr-dark);
        filter: drop-shadow(0px 0px 16px var(--clr-red-light));
      }
    }
    img {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translate(-50%, -4%);
      border-radius: 9999px;
      width: 17rem;
      mask-image: linear-gradient(
        to bottom,
        var(--clr-dark) 40%,
        transparent 85%
      );
      mask-mode: alpha;
    }
  }
}
