@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-dark: #121212;
  --clr-red: #8b0000;
  --clr-red-light: #b22222;
  --clr-gray: #afaeae;
  --font-bbh: "BBH Sans Bartle", "Franklin Gothic Medium", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

@keyframes animeWord {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-300%);
  }
  80% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(-500%);
  }
}
@keyframes animeWord2{
    0% {
    transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-200%);
    }
}
@keyframes appearIcon {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes topBottom {
  0% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-15%);
  }
  67% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes darkLight {
  0% {
    filter: drop-shadow(0px 0px 0.5px var(--clr-red-light));
  }
  50% {
    filter: drop-shadow(0px 0px 6px var(--clr-red-light));
  }
  100% {
    filter: drop-shadow(0px 0px 0.5px var(--clr-red-light));
  }
}
@keyframes opacities {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes animate {
  0% {
    width: 1px;
    height: 1px;
    background-color: var(--clr-gray);
  }
  100% {
    width: 1px;
    height: 100%;
    background-color: var(--clr-red);
  }
}
@keyframes bottomTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0.5;
  }
}
@keyframes rotates{
  0%{
    transform: scale(0.8) rotate(0deg);
  }
  50%{
    transform: scale(1) rotate(360deg);
  }
  100%{
    transform: scale(0.8) rotate(360deg);
  }
}
@keyframes animation1{
  0%{
    transform: translateX(10%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes animation2{
  0%{
    transform: translateX(-10%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}